*{
    margin:0;
    padding:0;
    font-family: 'Baskervville', serif;
}


body {display: flex;
    height: 100vh;
    width:100vw;
    background: linear-gradient(to right, #000000, #434343);

  justify-content: center;
  align-items: center;
  
  
  
}
.time{
    font-family: Montserrat Alternates ;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  justify-content: center;
  box-shadow:0 0 2px 4px  rgb(80, 78, 78) ;
  
  color: rgb(5, 5, 5);
  width: 90vw;
  max-width: 80%;
 
  border-radius: 10px;
  height: 80vh;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userInput{
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 40%;
  margin: 30px 0px 10px 0px;
  border-radius: 10px;
  color: aliceblue;
  background-color: #9c9b9b;
}
.userInput p{
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
  

}
#userValue{
  display: flex;
  justify-content: center;

  margin: 10px 39px 10px 39px;
  padding: 3px;
  border-radius: 4px;
  border-color: rgb(152, 23, 23);

  
}
.btn{
    display:none;
    font-weight: bold;
    box-shadow:0 6px 12px -2px rgba(#292828,.15);
    border-radius: 10px;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    color: white;
    padding: 8px 15px;
    margin:19px;
    cursor:pointer;
}
#start{
    display:block;
}
button {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 7px;
    margin-top:70px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  button:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all .5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 900ms;
  }
  
  button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
#next{
    display:none;
    justify-content: flex-end;
}

.btn:hover{
    color: rgb(254, 243, 243);
    padding:15px 25px;
}

#question-text{
    display: flex;
    font-weight: 600;
    
    font-size: 30px;
    justify-content: center;
}
li{
    display:none;
    border: solid 2px rgb(177, 174, 174);
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    margin:10px
}
.answer {
    display:flex;
    text-decoration: none;
    
    flex-direction: column;
    align-items: flex-start;
    padding:4px 12px  ;
    margin: 9px;
}
